body{
    text-align:center;
}


#board{
    width:360px;
    height:360px;
    background-color: rgb(240, 235, 235);
    border:1px solid rgb(105, 97, 97);
    display:flex;
    flex-wrap: wrap;
    margin:0 auto;

}
#board img{
    width:118px;
    height:118px;
    border:1px solid rgb(207, 187, 187);
}
#restart{
   background-color:rgb(240, 19, 19);
   color: #111105;
   border:1px solid black;
   height:30px;
   text-align:center;
   padding:2px
   
   
   
   
   
}
.down{
    display:flex;
    justify-content:space-evenly;
}